<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Details</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <header>
                <h1>Expense details</h1>
            </header>
            <form onsubmit="addNewExpense(event)">
                <label for="expenseamount">Choose expenseamount:</label>
                <input type="number" name="expenseamount" id="expenseamount" required>

                <label for="description">Choose description:</label>
                <input type="text" name="description" id="description" required>

                <label for="category">Choose a category</label>
                <select name="category" id="category">
                    <option value="fuel">fuel</option>
                    <option value="food">food</option>
                    <option value="electricity">electricity</option>
                    <option value="Movie">Movie</option>
                </select>
                <button type="submit">Add Expense</button>
            </form>
            <ul id="listOfExpenses">

            </ul>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/js/index.js"></script>

</body>
</html>